*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures/repro
*.bak
*.class
*.dex
.externalNativeBuild
.cxx
local.properties
# Android Studio
*.iml
.gradle
/local.properties
/.idea
/build

# GoodSync & Logs
_gsdata_/
*.log

# Office Docs & Backups
*.docx
_saved_/
